@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
body {
    margin: 0px 0px;

}
nav {
    display: flex;
    background: blue;
    justify-content: space-between;
}
nav h1 {
    font-family: 'Quintessential', cursive;
    font-size: 30px;
    margin: 30px;
    color: red;
    margin-top: 35px;
}
nav .onglets{
    text-decoration: none;
    margin-top: 40px;

}
nav .onglets a {
    text-decoration: none;
    color: red;
    padding: 10px 20px;
    background-color: white;
    border-radius: 1rem;
    margin-right: 20px;

}

article {
    margin: 20px 20px;
    border-style: solid;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
article a {
    text-decoration: none;
}
footer{
    background: blue;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0px;
}
form{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
form button {
    width: 70px;
    max-width: 60px;
    height: 20px;
    border-radius: 5px;
    color: #303030;
}
.articles1{
    margin-top: 30px;
}
.articles1 .article{
    display: flex;
    margin-bottom: 30px;

}

.articles1 .article .left img{
    height: 300px;
    width: 300px;
}
.articles1 .article .right{
    width: 50%;
    margin-left: 10px;
}

.articles2{
    margin-top: 30px;
}
.articles2 .article{
    display: flex;
    margin-bottom: 30px;

}

.articles2 .article .left img{
    height: 300px;
    width: 300px;
}
.articles2 .article .right{
    width: 50%;
    margin-left: 10px;
}



