header{
    position:fixed;
    width:99%;
    display: flex;
    justify-content: space-between;
    /* border: purple solid 5px; */
    background-color: rgb(204, 95, 95); 
}
footer{ 
    margin-top: 235px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-style: italic;
    display:flex;
    justify-content: space-around;
    /* border: purple solid 5px;  */
    background-color: grey;
} 
body{
    border: white solid 3px; 
    
    
}
.page{
 /* border: red solid 4px;  */
    margin-top: 55px;
}

img{
    width: 40%;
    height: 70%;
    /* border: green 2px solid; */
    border-radius: 50%;

   }
p{
    /* border: grey solid 2px; */
    margin-left: 5px;
}
h1{ 
    display:flex;
    justify-content: center;
    /* border: pink solid 3px; */
    max-height: 30px;  
}
.intro{
    padding-top: 10px;
    /* border:blue solid 2px; */
}
h2{
    /* border: black solid 2px; */
    padding-top: 0px;
    margin-top: 5px;
    display:flex;
    justify-content: center;
}
span{
        font-weight: bold;
        font-style: italic;
    }
.title{
        font-size: 30px;
        font-weight:400;
        font-family: 'Courier New', Courier, monospace;
        /* border: green solid  2px; */
        max-width: 300px;
    }
    
.buttons{
        display:flex;
        align-items:center;
        justify-content: space-around;
        width: 150px;
        /* border: greenyellow solid 2px; */
    }
    .articles{
        /* border: yellow solid 4px; */
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        width: 60%;
    }
    .article1{
        border: black solid 3px;
        border-style: ridge; 
        border-color:rgb(235, 243, 243);
        display:flex;
        width:370px;
        /* flex-direction: row;  */
        justify-content: center;
        align-items:center;
        margin: 20px; 
    }
    a:link{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
   a:hover{
       color:grey;
   }

   #btt{
    /* border: blue solid; */
    height:55px;
    width:55px;
    position: absolute;
    top: 800px;
    left:950px;
}
    @media (max-width: 800px) {
        .articles{
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .article1{
            max-width: 80%
        }
                   
        footer{
            flex-direction:column;
            align-items: center;
            justify-content: center;
        }
        #footnote1{
            /* border:chartreuse solid 2px; */
            margin:3px;
        
        }
        #footnote2{
            /* border:chartreuse solid 2px; */
            margin:3px;
        }
        #btt{
            /* border: blue solid; */
            height:55px;
            width:55px;
            position: absolute;
            top: 1700px;
            left:300px;
        }
     
    }